header {
    width: 100%;
    height: 150px;
    background-color: #5e299A;
    position: relative;
}
header .container {
    position: relative;
}
header .header-black {
    color: #000;
    width: 100%;
    height: 40px;
}
header #logotipo {
    position: absolute;
    top: 20px;
}